body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

/* hover */
a:hover {
  color: #ff0000;
}

/* Active */
a:active {
  background: purple;
}

a:focus {
  background: yellow;
}

a:visited {
  background-color: coral;
}